/* ===== BACKGROUND IMAGE ===== */
body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive;
    
    /* PUT YOUR BACKGROUND IMAGE LINK BELOW */
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Main Container */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Header */
.main-header {
    text-align: center;
    font-size: 50px;
    color: white;
}

.header-img {
    display: block;
    margin: 0 auto;
    width: 400px;
}

/* Profile Section */
.profile-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Profile Frame */
.pfp-frame {
    position: relative;
    width: 220px;
}

.frame {
    width: 100%;
}

.pfp {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 160px;
    border-radius: 15px;
}

/* Info Box */
.info-box {
    background-color: rgba(150, 180, 200, 0.85);
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    color: white;
    font-size: 18px;
}

/* More About Me */
.more-title {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    color: white;
}

.more-box {
    background-color: rgba(120, 150, 170, 0.9);
    padding: 40px;
    border-radius: 25px;
    font-size: 40px;
    text-align: center;
    color: #444;
}

/* Decorations */

.bubbles {
    position: fixed;
    left: 10px;
    bottom: 100px;
    width: 120px;
}

.thegang {
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 250px;
}

.bow {
    position: fixed;
    right: 0;
    top: 200px;
    width: 60px;
}
